<div class="example-container mat-elevation-z8">
  <h3>Lista de estados</h3>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button [routerLink]="['/state/new']">Nuevo Estado</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataStates">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/state/' + element.id + '/edit']">Editar</button>
        <button mat-raised-button color="warn" (click)="onDeleteState(element.id)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="stateColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: stateColumns;" (click)="row.toggle(row)">
    </mat-row>
  </mat-table>
</div>
