<div class="example-container mat-elevation-z8">
  <h3>Detalle Trabajo</h3>
  <p>
    Nombre: {{work.nombre}}
  </p>
  <p>
    Direccion: {{work.direccion}}
  </p>
  <p>
    Ciudad: {{work.ciudad}}
  </p>
  <p>
    Presupuesto: {{work.presupuesto}}
  </p>
  <br>
  <mat-table #table [dataSource]="dataAdvances">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef>Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="costo">
      <mat-header-cell *matHeaderCellDef>Costo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.costo}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="advanceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: advanceColumns;" (click)="row.toggle(row)">
    </mat-row>
  </mat-table>
</div>
