<div class="example-container mat-elevation-z8">
  <h3>Lista de Maquinarias</h3>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button [routerLink]="['/machinery/new']">Nuevo Maquinaria</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataMachinery">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaActivacion">
      <mat-header-cell *matHeaderCellDef>Fecha Activacion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fechaActivacion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaBaja">
      <mat-header-cell *matHeaderCellDef>Fecha Baja </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fechaBaja}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="valorAdquisicion">
      <mat-header-cell *matHeaderCellDef>Valor Adquisicion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.valorAdquisicion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreProveedor">
      <mat-header-cell *matHeaderCellDef>Nombre Proveedor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombreProveedor}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreEstado">
      <mat-header-cell *matHeaderCellDef>Id Estado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombreEstado}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/machinery/' + element.id + '/edit']">Editar</button>
        <button mat-raised-button color="warn" (click)="onDeleteMachinery(element.id)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="machineryColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: machineryColumns;" (click)="row.toggle(row)">
    </mat-row>
  </mat-table>
</div>
