<div class="example-container mat-elevation-z8">
  <h3>Lista de Obras</h3>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button [routerLink]="['/work/new']">Nueva Obra</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataWorks">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>Direccion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ciudad">
      <mat-header-cell *matHeaderCellDef>Ciudad </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ciudad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="presupuesto">
      <mat-header-cell *matHeaderCellDef>Presupuesto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.presupuesto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/work/' + element.id + '/view']">Ver</button>
        <button mat-raised-button color="warn" (click)="onDeleteWork(element.id)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="workColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: workColumns;" (click)="row.toggle(row)">
    </mat-row>
  </mat-table>
</div>
