<div class="example-container">
  <h2>Registro de Obras</h2>
  <form ngForm="formEmployee" (submit)="saveWork()">
    <input type="hidden" [(ngModel)]="work.id" name="id" id="id">
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="work.nombre" name="nombre" id="nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Direccion" [(ngModel)]="work.direccion" name="direccion" id="direccion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ciudad" [(ngModel)]="work.ciudad" name="ciudad" id="ciudad">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Presupuesto" [(ngModel)]="work.presupuesto" name="presupuesto" id="presupuesto">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Seleccionar" [(ngModel)]="work.idEstadoObra" (selectionChange)="onSelectionChange($event)" name="idEstadoObra">
        <mat-option [value]="state.id" *ngFor="let state of states">{{state.descripcion}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/works']">Cancelar</button>
    &nbsp;
    <button mat-raised-button color="primary">Guardar Obra</button>
  </form>
</div>

