<div class="example-container mat-elevation-z8">
  <h3>Lista de Proveedores</h3>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div style="text-align: right;">
      <button mat-raised-button [routerLink]="['/provider/new']">Nuevo Proveedor</button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataProviders">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreComercial">
      <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombreComercial}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="razonSocial">
      <mat-header-cell *matHeaderCellDef>Razon Social </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.razonSocial}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroDocumento">
      <mat-header-cell *matHeaderCellDef>CI </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>Direccion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diasPlazo">
      <mat-header-cell *matHeaderCellDef>Dias Plazo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.diasPlazo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef>Telefono </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionTipoDocumento">
      <mat-header-cell *matHeaderCellDef>Tipo Documento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcionTipoDocumento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="['/provider/' + element.id + '/edit']">Editar</button>
        <button mat-raised-button color="warn" [routerLink]="['/provider/' + element.id + '/delete']">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: providerColumns;" (click)="row.toggle(row)">
    </mat-row>
  </mat-table>
</div>
