<div class="example-container">
  <h2>Registro Estado</h2>
  <form ngForm="formEmployee" (submit)="saveState()">
    <input type="hidden" [(ngModel)]="state.id" name="id" id="id">
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="state.nombre" name="nombre" id="nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descripcion" [(ngModel)]="state.descripcion" name="descripcion" id="descripcion">
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/states']">Cancelar</button>
    &nbsp;
    <button mat-raised-button color="primary">Guardar Estado</button>
  </form>
</div>
