<mat-toolbar color="primary">
  <span [routerLink]="['/']"> SSI Concretec S.R.L.</span>
  &nbsp;
  <button mat-button [routerLink]="['/states']">Estados</button>
  &nbsp;
  <button mat-button [routerLink]="['/type-documents']">Tipo Documentos</button>
  &nbsp;
  <button mat-button [routerLink]="['/providers']">Proveedores</button>
  &nbsp;
  <button mat-button [routerLink]="['/machineries']">Maquinarias</button>
  &nbsp;
  <button mat-button [routerLink]="['/works']">Obras</button>
  &nbsp;
  <button mat-button [routerLink]="['/advances']">Avances</button>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
