<div class="example-container">
  <h2>Registro Maquinaria</h2>
  <form ngForm="formEmployee" (submit)="saveMachinery()">
    <input type="hidden" [(ngModel)]="machinery.id" name="id" id="id">
    <mat-form-field>
      <input matInput placeholder="Descripcion" [(ngModel)]="machinery.descripcion" name="descripcion" id="descripcion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha Activacion" [(ngModel)]="machinery.fechaActivacion" name="fechaActivacion" id="fechaActivacion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha Baja" [(ngModel)]="machinery.fechaBaja" name="fechaBaja" id="fechaBaja">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor Adquisicion" [(ngModel)]="machinery.valorAdquisicion" name="valorAdquisicion" id="valorAdquisicion">
    </mat-form-field>
    <mat-form-field>
       <mat-select placeholder="Seleccionar Estado" [(ngModel)]="machinery.idEstado" name="idEstado">
        <mat-option [value]="state.id" *ngFor="let state of states">{{state.descripcion}}</mat-option>
       </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Seleccionar Proveedor" [(ngModel)]="machinery.idProveedor"  name="idProveedor">
        <mat-option [value]="providers.id" *ngFor="let providers of providers">{{providers.nombreComercial}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/machinery']">Cancelar</button>
    &nbsp;
    <button mat-raised-button color="primary">Guardar Proveedor</button>
  </form>
</div>
