/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 500px;
  overflow: auto;
  padding: 20px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
