<div class="example-container">
  <h2>Registro de Avances</h2>
  <form ngForm="formEmployee" (submit)="saveAdvance()">
    <input type="hidden" [(ngModel)]="advance.id" name="id" id="id">
    <mat-form-field>
      <input matInput placeholder="Fecha" [(ngModel)]="advance.fecha" name="fecha" id="fecha">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descripcion" [(ngModel)]="advance.descripcion" name="descripcion" id="descripcion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Costo" [(ngModel)]="advance.costo" name="costo" id="costo">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Seleccionar" [(ngModel)]="advance.idObra" name="idObra">
        <mat-option [value]="work.id" *ngFor="let work of works">{{work.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/advances']">Cancelar</button>
    &nbsp;
    <button mat-raised-button color="primary">Guardar Avance</button>
  </form>
</div>
